.formu{
    box-sizing: border-box;
    font-weight: 5rem;
    font-size: 1.5rem;


    h2{
        font-size: 3rem;
        background-color: rgb(9, 170, 116);
    }
}

.fpe {
    h2{
        font-size: 3rem;
        text-align: center;
        font-family: cursive;
    
    }
}

.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 3rem ;
    border-radius: 10px;
    box-shadow: 2px 5px -5px;
    text-align: center;
    
    textarea{
        margin: 1rem;
        text-align: center;
        padding: auto;
}

}

.for{
    font-weight: 400;
    justify-content: center;
    width: 30rem;
    padding: 10em;
    text-align: center;

    .tituloPrincipal{
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 0%;
    }

  


}