$color-fuentes: black;
$color-fuentes-secundario: rgb(25, 7, 105);
$color-fondo:linear-gradient(to right, #E4E5E6, #00416A);
$color-fondo-secundario:linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
$color-botones: gray;
